// .delmain {
//   border: 1px solid;
//   padding: 10px;
//   box-shadow: 5px 10px;
// }
.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto;
  //border: 1px solid red;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  display: flex;
  gap: 1em;
  flex-direction: column;

  @media (min-width: 50em){
    flex-direction: row;
  }
  
}

.a-center {
  align-items: center;

}